<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/profile.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <title>Profile: <%= user.firstName + " " + user.lastName %></title>
    <link rel="icon" type="image/png" href="/img/Download_Vector_illustrations_concept_design_podcast_channel__for_free-removebg-preview.png">
</head>
<body>
    <div class="main-wrapper" id="mainwrapper">
        <!-- {{!----------------------------------------------------Navbar---------------------------------------------------------}}-->
        <div class="menu-section">
            <div class="logo">
                <a href="/home"><img src="/img/logo.PNG" alt=""></a>
            </div>
            <div class="menu-items">
                <div class="menu-item">
                    <a href="/profile/<%= currentUser.userId %>"><i class="bx bx-user"></i></a>
                </div>
                <div class="menu-item">
                    <a href="/home"><i class="bx bx-home"></i></a>
                </div>
            </div>
        </div>

         <!-- {{!----------------------------------------------------profile---------------------------------------------------------}}-->

         <div class="user-profile">
            <% if (user.photo) { %>
                <div class="img-profile">
                    <img src="/img/<%= user.photo %>" alt="" class="img">
                </div>
            <% } else { %>
                <div class="img-profile">
                    <img src="/img/user.png" alt="" class="img">
                </div>
            <% } %>

            <div class="user">
                <h3><%= user.firstName + " " + user.lastName %></h3>
            </div>
            <div class="bio">
                <% if (user.bio) {%>
                    <b><p><%= user.bio %></p></b>
                <% } else { %>
                    <b><p>user bio here you can write everything about youself freelly</p></b>
                 <% } %>
            </div>
            
            <div class="break"></div>
        </div>
    </div>
    <!-- {{!----------------------------------------------------post-btn-popup---------------------------------------------------------}}-->
    
    <script src="/js/01.js"></script>
</body>